.button {
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    background-color: deepskyblue;
    margin-bottom: 10px;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: white;
}